# 忽略所有文件
*

# 但保留以下文件和文件夹
!.gitignore
!AGENTS.md
!docker-compose.yml
!Dockerfile
!go.mod
!go.sum
!Makefile
!README.md
!subscription_formats.md

# dirs
!base/
!base/**

!fixtures/
!fixtures/**

!cmd/
!cmd/**

!configs/
!configs/**

!docs/
!docs/**

!internal/
!internal/**

!k8s/
!k8s/**
